{% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <div id="playerlist">
        woah it's a list <br>
    {% for player in playerlist %}
        {% if player.points %}
            <button type="button" class="collapsible">{{ player.name }}</button>
            <div class="content">
                <div class="infographic">
                    <div class="playerinfo">
                        <div class="pronouns"></div>
                        <div class="country"></div>
                        <div class="inputdevice"></div>
                        <div class="playerage"></div>
                        <div class="socials"></div>
                        <div class="characters">
                            <div class="mains">
                                <p>Mains: 
                                {% for item in playerinfo[player.name].main %}
                                    {{ item }}
                                {% endfor %}
                                </p>
                            </div>
                            {% if playerinfo[player.name].secondary %}
                            <div class="secondaries">
                                <p>Secondaries: 
                                    {% for item in playerinfo[player.name].secondary %}
                                        {{ item }}
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="results">
                        <div class="topplacements">
                            {% for item in player.placements %}
                                {% if loop.index <= 4 %}
                                    Tier {{ tourneylist[item.id].tier }}: {{ tourneylist[item.id].name }} - {{ item.place }} <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="firstsecondthird">
                            {% set counter = {
                                'first': 0,
                                'second': 0,
                                'third': 0,
                                } %}
                            {% for item in player.placements %}
                                {% if item.place == '1st' %}
                                    {{ increment(counter, 'first') }}
                                {% endif %}
                                {% if item.place == '2nd' %}
                                    {{ increment(counter, 'second') }}
                                {% endif %}
                                {% if item.place == '3rd' %}
                                    {{ increment(counter, 'third') }}
                                {% endif %}
                            {% endfor %}
                            <div class="firstplaces">1st: {{ counter.first }}x</div>
                            <div class="secondplaces">2nd: {{ counter.second }}x</div>
                            <div class="thirdplaces">3rd: {{ counter.third }}x</div>
                        </div>
                    </div>
                    <p class="blurb">{{ playerinfo[player.name].blurb }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <script src="static/js/script.js"></script>
</body>
    
</html>

